<!--
@author: Lambert
@time: 2020/06/02
@file: home.html
@contact: l156486648@163.com
@site: blog.25years.xyz
-->
{% extends 'base/base.html' %}
{% load static %}
{% block CustomCSS %}
<style>
    h2 {
        color:black;
    }
    h2 > span {
        color: skyblue
    }
</style>

{% endblock %}

{% block nav %}
{% include 'component/nav.html' %}
{% endblock %}


{% block content %}
<div class="container-fluid">
    <form  method = "POST">
        {% csrf_token %}
        <h2>请确认是否删除 <span>"{{ object.title }}" </span>  by <span> {{object.author}}</span> ?</h2> 
        <input class="btn btn-danger" type="submit" value="确认删除"> 
    </form>
</div>
{% endblock %}
{% block CustomJS %}
{% endblock %}