{% load mptt_tags %}

<ul class="tree tree-lines" data-animate="true"  data-ride="tree" id="CategoryTree">
    {% recursetree nodes %}
        <li>
            <div class="category-itme">
                <a class="category-title" href="{% url 'index' %}?category_id={{node.id}}">{{ node.name }} ({{ node.get_counts }})</a>
            </div>


            {% if not node.is_leaf_node %}
                <ul >
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
