<td> 
    <a href=<%= model.file %> target="_blank"> <%= model.name %> </a>
</td>
<td><%= model.tagname %></td>
<td><%= model.username %></td>
<td><%= model.create_time %></td>

<td> 
    <button class="btn btn-info btn-mini btn-round" type="button" id= 'detail_<%= model.id %>' >
        <%=locale.operation_detail%>

    </button>
    <button class="btn btn-primary btn-mini  btn-round" type="button" id='edit_<%= model.id %>' >
        <%=locale.operation_edit%>
    </button>

    <button class="btn btn-danger  btn-mini btn-round" type="button" id= 'delete_<%= model.id %>' >
        <%=locale.operation_permanently_delete%>

    </button>

    <button class="btn btn-warning  btn-mini btn-round" type="button" id= 'recover_<%= model.id %>' >
        <%=locale.operation_recover%>
    </button>

</td>
